@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />

<form asp-action="Delete" class="table table-striped table-hover">
    <div asp-validation-summary="All"></div>
   <partial name="PartialViews/DetailsDeleteDepartmentPartial" />
    <input class="btn btn-secondary" type="submit" value="Delete"/>
    <a asp-action="Index" asp-controller="Department" class="btn btn-">Back To List</a>
</form>


