@model UserViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>
<br />
<br />

   <partial name="PartialViews/DetailsDeleteUserPartial" />
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index" asp-controller="User" class="btn btn-">Back To List</a>
</div>

