@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<form asp-action="ConfirmDelete">
 <partial name="PartialViews/DetailsDeleteRolePartial" />
 <input type="submit" value="Delete"  class="btn btn-danger"/>
    <a asp-action="Index" asp-controller="Role" class="btn btn-light">Back To List</a>
</form>

