@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="main-agileinfo">
			<div class="agileits-top">
				<form asp-action="SendResetPasswordUrl">
					<div asp-validation-summary="All"></div>

					<input class="text email" asp-for="Email" placeholder="Email" required="">
					<br />
					<input type="submit" value="ResetPassword">
				</form>
			</div>
		</div>
@section ValidationScriptSection{
	@* <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script> *@
	@* <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script> *@
					<partial name="_ValidationScriptsPartial" />
	@* put them in view that has html form Like(create update ) *@
}




